{% extends "layout.html" %}
{% block content %}
    <h1>About THE CARE CLINIC </h1>
    <body style="  background: url(https://i.pinimg.com/originals/ec/e4/5a/ece45acd36d4017105414d48be6e4c80.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
<title style="color:black;">
</title>
      <body style="color:rgb(20, 19, 19);">
            <p class="article-content">
                   <p style="font-size:25px;">
                    <h2>-> High Quality medical expertise </h2>
                    <h2></h2>
                    <h2>-> Good overall experience</h2>
                    <h2></h2>
                    <h2>-> Patient-Centric Approach</h2>
                    <h2></h2>
                    <h2>-> Safe, Secure, and High quality medical care</h2> 
                    <h2></h2>
                    <h2>-> Transparent Pricing</h2>
                </p>
</body>
{% endblock content %}
